@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
#__next {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Hind Siliguri";
  font-size: 60px;
  font-weight: 700;
  color: black;
}

.carousel1 {
  background-color: #101828;
}
.category-title {
  font-family: "Hind Siliguri";
  font-size: 3rem;
}
.center {
  margin: 0 auto;
}

.buttonAssessment:hover,
.buttonAssessment:focus {
  background-color: #d6ad60;
}

.card:hover {
  border: 1px solid #d6ad60;
}

.carousel-indicators {
  display: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-weight: 900;
  border: 1px solid white;
  border-radius: 80%;
  width: 3rem;
  height: 3rem;
}

/* media queries for mobile view */

@media (max-width: 53.5rem) {
  .buttonLearning {
    background-color: #101828;
    color: floralwhite;
    border: 1px solid #101828;
  }
  .section-title {
    margin: 2rem 0;
    padding: 0;
  }
  .section-title-icon {
    margin: 0;
    padding: 0;
  }
  #carousel_stack1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
