@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Hind Siliguri";
  font-size: 60px;
  font-weight: 700;
  color: black;
}
.category-title {
  font-family: "Hind Siliguri";
  font-size: 3rem;
}
.center {
  margin: 0 auto;
}
